<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>even number if</title>
</head>
<body>
    <h2>even number if</h2>
    <div id="condition">
        <ul>
            <li v-for="evenNum in numberArr" v-if="evenNum % 2 == 0">{{ evenNum }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el : "#condition",
            data : {
                numberArr : [6,7,8,9,10]
            }
        })
    </script>
</body>
</html>